# This script processes the data into a dataset usable by the training algorithm

## Import pandas and numpy

In [41]:
import pandas as pd
import numpy as np

## Read our data from csv to pandas datafram

In [42]:
df = pd.read_csv('../data/tadas_and_minivan_aggregated.csv')
df

,ipaddr DST_IP,ipaddr SRC_IP,uint64 BYTES,uint64 BYTES_REV,uint64 LINK_BIT_FIELD,time TIME_FIRST,time TIME_LAST,macaddr DST_MAC,macaddr SRC_MAC,float NTS_AVERAGE_DISPERSION,...,uint8 TCP_FLAGS_REV,int8* PPI_PKT_DIRECTIONS,uint8* PPI_PKT_FLAGS,string TLS_ALPN,bytes TLS_JA3,string TLS_SNI,uint16* PPI_PKT_LENGTHS,uint16* TLS_EXT_LEN,uint16* TLS_EXT_TYPE,time* PPI_PKT_TIMES
0,34.144.254.29,192.168.152.21,40,52,1,2025-03-17T06:57:57.889881,2025-03-17T06:57:57.943410,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
1,192.168.152.255,192.168.152.21,72,0,1,2025-03-17T06:58:05.474005,2025-03-17T06:58:05.474005,ff:ff:ff:ff:ff:ff,8a:b7:69:48:4f:d4,0.000000,...,0,[1],[0],NaN,NaN,NaN,[44],[],[],[2025-03-17T06:58:05.474005]
2,2a00:1450:4014:80f::200a,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,60,72,1,2025-03-17T06:57:57.889782,2025-03-17T06:57:57.942534,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
3,2600:1901:1:566::,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,187,184,1,2025-03-17T06:58:13.127583,2025-03-17T06:58:13.244613,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,33.041668,...,24,[1|-1],[24|24],NaN,NaN,NaN,[43|40],[],[],[2025-03-17T06:58:13.127583|2025-03-17T06:58:1...
4,2a00:1450:4014:80a::200e,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,60,72,1,2025-03-17T06:58:15.709063,2025-03-17T06:58:15.788311,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78151,239.255.255.250,192.168.31.39,63,0,1,2025-03-18T21:08:10.938633,2025-03-18T21:08:10.938633,01:00:5e:7f:ff:fa,64:e7:d8:45:38:42,0.000000,...,0,[1],[0],NaN,NaN,NaN,[35],[],[],[2025-03-18T21:08:10.938633]
78152,239.255.255.250,192.168.31.39,63,0,1,2025-03-18T21:08:34.940479,2025-03-18T21:08:34.940479,01:00:5e:7f:ff:fa,64:e7:d8:45:38:42,0.000000,...,0,[1],[0],NaN,NaN,NaN,[35],[],[],[2025-03-18T21:08:34.940479]
78153,192.168.31.255,192.168.31.39,63,0,1,2025-03-18T21:08:55.960527,2025-03-18T21:08:55.960527,ff:ff:ff:ff:ff:ff,64:e7:d8:45:38:42,0.000000,...,0,[1],[0],NaN,NaN,NaN,[35],[],[],[2025-03-18T21:08:55.960527]
78154,224.0.0.22,192.168.31.39,64,0,1,2025-03-18T21:08:48.498965,2025-03-18T21:08:48.498965,01:00:5e:00:00:16,64:e7:d8:45:38:42,0.000000,...,0,[1],[0],NaN,NaN,NaN,[40],[],[],[2025-03-18T21:08:48.498965]
78155,192.168.31.255,192.168.31.175,72,0,1,2025-03-18T21:09:05.818325,2025-03-18T21:09:05.818325,ff:ff:ff:ff:ff:ff,d8:5e:d3:fe:65:7a,0.000000,...,0,[1],[0],NaN,NaN,NaN,[44],[],[],[2025-03-18T21:09:05.818325]

## Extract only rows with destination port of 443

In [43]:
df = df[df['uint16 DST_PORT'] == 443]
df

,ipaddr DST_IP,ipaddr SRC_IP,uint64 BYTES,uint64 BYTES_REV,uint64 LINK_BIT_FIELD,time TIME_FIRST,time TIME_LAST,macaddr DST_MAC,macaddr SRC_MAC,float NTS_AVERAGE_DISPERSION,...,uint8 TCP_FLAGS_REV,int8* PPI_PKT_DIRECTIONS,uint8* PPI_PKT_FLAGS,string TLS_ALPN,bytes TLS_JA3,string TLS_SNI,uint16* PPI_PKT_LENGTHS,uint16* TLS_EXT_LEN,uint16* TLS_EXT_TYPE,time* PPI_PKT_TIMES
0,34.144.254.29,192.168.152.21,40,52,1,2025-03-17T06:57:57.889881,2025-03-17T06:57:57.943410,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
2,2a00:1450:4014:80f::200a,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,60,72,1,2025-03-17T06:57:57.889782,2025-03-17T06:57:57.942534,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
3,2600:1901:1:566::,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,187,184,1,2025-03-17T06:58:13.127583,2025-03-17T06:58:13.244613,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,33.041668,...,24,[1|-1],[24|24],NaN,NaN,NaN,[43|40],[],[],[2025-03-17T06:58:13.127583|2025-03-17T06:58:1...
4,2a00:1450:4014:80a::200e,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,60,72,1,2025-03-17T06:58:15.709063,2025-03-17T06:58:15.788311,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
5,2a00:1450:4014:80e::200a,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,60,72,1,2025-03-17T06:58:16.511554,2025-03-17T06:58:16.545157,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78141,23.212.110.75,192.168.31.175,1632,6505,1,2025-03-18T21:08:01.089142,2025-03-18T21:08:01.383546,28:d1:27:4e:5d:51,d8:5e:d3:fe:65:7a,392.979340,...,31,[1|-1|-1|-1|-1|1|-1|1|-1|-1|1|1],[24|16|24|24|24|24|24|24|24|24|24|25],NaN,a0e9f5d64349fb13191bc781f81f42e1,ops.gx.nvidia.com,[184|1460|1460|599|1176|126|258|716|1069|31|31...,[22|5|8|2|26|0|0|1],[0|5|10|11|13|35|23|65281],[2025-03-18T21:08:01.101776|2025-03-18T21:08:0...
78143,23.212.110.75,192.168.31.175,1476,6577,1,2025-03-18T21:08:01.153029,2025-03-18T21:08:01.287375,28:d1:27:4e:5d:51,d8:5e:d3:fe:65:7a,404.565704,...,31,[1|-1|-1|-1|-1|1|-1|1|-1|-1|1],[24|16|24|24|24|24|24|24|24|24|24],NaN,a0e9f5d64349fb13191bc781f81f42e1,ops.gx.nvidia.com,[184|1460|1460|1176|599|126|258|723|1101|31|31],[22|5|8|2|26|0|0|1],[0|5|10|11|13|35|23|65281],[2025-03-18T21:08:01.164787|2025-03-18T21:08:0...
78145,162.159.128.233,192.168.31.175,10349,22152,1,2025-03-18T21:08:06.473723,2025-03-18T21:08:09.386563,28:d1:27:4e:5d:51,d8:5e:d3:fe:65:7a,536.193115,...,0,[1|1|1|1|-1|1|-1|1|-1|-1|1|-1|1|-1|-1|1|-1|-1|...,[0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0...,NaN,NaN,NaN,[1250|75|1250|616|1200|90|53|43|24|24|43|49|47...,[],[],[2025-03-18T21:08:06.473723|2025-03-18T21:08:0...
78147,104.26.10.110,192.168.31.175,941,1706,1,2025-03-18T21:08:42.417177,2025-03-18T21:08:57.666165,28:d1:27:4e:5d:51,d8:5e:d3:fe:65:7a,95.799286,...,24,[1|1|1|1|-1|-1|-1|-1|1|1|-1|-1|-1],[16|24|24|24|24|24|24|24|24|24|24|24|24],NaN,NaN,NaN,[1|120|39|277|39|453|49|31|35|69|567|44|31],[],[],[2025-03-18T21:08:42.417177|2025-03-18T21:08:5...
78148,185.26.182.112,192.168.31.175,201,303,1,2025-03-18T21:08:10.419766,2025-03-18T21:08:30.697184,28:d1:27:4e:5d:51,d8:5e:d3:fe:65:7a,11.026119,...,25,[1|-1|-1],[16|24|24],NaN,NaN,NaN,[1|39|24],[],[],[2025-03-18T21:08:10.419766|2025-03-18T21:08:3...

## Remove duplicate rows

In [44]:
df = df.drop_duplicates()
df

,ipaddr DST_IP,ipaddr SRC_IP,uint64 BYTES,uint64 BYTES_REV,uint64 LINK_BIT_FIELD,time TIME_FIRST,time TIME_LAST,macaddr DST_MAC,macaddr SRC_MAC,float NTS_AVERAGE_DISPERSION,...,uint8 TCP_FLAGS_REV,int8* PPI_PKT_DIRECTIONS,uint8* PPI_PKT_FLAGS,string TLS_ALPN,bytes TLS_JA3,string TLS_SNI,uint16* PPI_PKT_LENGTHS,uint16* TLS_EXT_LEN,uint16* TLS_EXT_TYPE,time* PPI_PKT_TIMES
0,34.144.254.29,192.168.152.21,40,52,1,2025-03-17T06:57:57.889881,2025-03-17T06:57:57.943410,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
2,2a00:1450:4014:80f::200a,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,60,72,1,2025-03-17T06:57:57.889782,2025-03-17T06:57:57.942534,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
3,2600:1901:1:566::,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,187,184,1,2025-03-17T06:58:13.127583,2025-03-17T06:58:13.244613,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,33.041668,...,24,[1|-1],[24|24],NaN,NaN,NaN,[43|40],[],[],[2025-03-17T06:58:13.127583|2025-03-17T06:58:1...
4,2a00:1450:4014:80a::200e,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,60,72,1,2025-03-17T06:58:15.709063,2025-03-17T06:58:15.788311,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
5,2a00:1450:4014:80e::200a,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,60,72,1,2025-03-17T06:58:16.511554,2025-03-17T06:58:16.545157,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78141,23.212.110.75,192.168.31.175,1632,6505,1,2025-03-18T21:08:01.089142,2025-03-18T21:08:01.383546,28:d1:27:4e:5d:51,d8:5e:d3:fe:65:7a,392.979340,...,31,[1|-1|-1|-1|-1|1|-1|1|-1|-1|1|1],[24|16|24|24|24|24|24|24|24|24|24|25],NaN,a0e9f5d64349fb13191bc781f81f42e1,ops.gx.nvidia.com,[184|1460|1460|599|1176|126|258|716|1069|31|31...,[22|5|8|2|26|0|0|1],[0|5|10|11|13|35|23|65281],[2025-03-18T21:08:01.101776|2025-03-18T21:08:0...
78143,23.212.110.75,192.168.31.175,1476,6577,1,2025-03-18T21:08:01.153029,2025-03-18T21:08:01.287375,28:d1:27:4e:5d:51,d8:5e:d3:fe:65:7a,404.565704,...,31,[1|-1|-1|-1|-1|1|-1|1|-1|-1|1],[24|16|24|24|24|24|24|24|24|24|24],NaN,a0e9f5d64349fb13191bc781f81f42e1,ops.gx.nvidia.com,[184|1460|1460|1176|599|126|258|723|1101|31|31],[22|5|8|2|26|0|0|1],[0|5|10|11|13|35|23|65281],[2025-03-18T21:08:01.164787|2025-03-18T21:08:0...
78145,162.159.128.233,192.168.31.175,10349,22152,1,2025-03-18T21:08:06.473723,2025-03-18T21:08:09.386563,28:d1:27:4e:5d:51,d8:5e:d3:fe:65:7a,536.193115,...,0,[1|1|1|1|-1|1|-1|1|-1|-1|1|-1|1|-1|-1|1|-1|-1|...,[0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0...,NaN,NaN,NaN,[1250|75|1250|616|1200|90|53|43|24|24|43|49|47...,[],[],[2025-03-18T21:08:06.473723|2025-03-18T21:08:0...
78147,104.26.10.110,192.168.31.175,941,1706,1,2025-03-18T21:08:42.417177,2025-03-18T21:08:57.666165,28:d1:27:4e:5d:51,d8:5e:d3:fe:65:7a,95.799286,...,24,[1|1|1|1|-1|-1|-1|-1|1|1|-1|-1|-1],[16|24|24|24|24|24|24|24|24|24|24|24|24],NaN,NaN,NaN,[1|120|39|277|39|453|49|31|35|69|567|44|31],[],[],[2025-03-18T21:08:42.417177|2025-03-18T21:08:5...
78148,185.26.182.112,192.168.31.175,201,303,1,2025-03-18T21:08:10.419766,2025-03-18T21:08:30.697184,28:d1:27:4e:5d:51,d8:5e:d3:fe:65:7a,11.026119,...,25,[1|-1|-1],[16|24|24],NaN,NaN,NaN,[1|39|24],[],[],[2025-03-18T21:08:10.419766|2025-03-18T21:08:3...

## See our columns

In [45]:
df.columns

Index(['ipaddr DST_IP', 'ipaddr SRC_IP', 'uint64 BYTES', 'uint64 BYTES_REV',
       'uint64 LINK_BIT_FIELD', 'time TIME_FIRST', 'time TIME_LAST',
       'macaddr DST_MAC', 'macaddr SRC_MAC', 'float NTS_AVERAGE_DISPERSION',
       'float NTS_KURTOSIS', 'float NTS_MAX_DIFFTIMES', 'float NTS_MEAN',
       'float NTS_MEAN_DIFFTIMES', 'float NTS_MEAN_SCALED_TIME',
       'float NTS_MIN_DIFFTIMES', 'float NTS_ROOT_MEAN_SQUARE',
       'float NTS_STDEV', 'float NTS_SWITCHING_RATIO',
       'float NTS_TIME_DISTRIBUTION', 'uint32 PACKETS', 'uint32 PACKETS_REV',
       'uint16 DST_PORT', 'uint16 NTS_MAX', 'uint16 NTS_MIN',
       'uint16 SRC_PORT', 'uint16 TLS_VERSION', 'uint8 DIR_BIT_FIELD',
       'uint8 PROTOCOL', 'uint8 TCP_FLAGS', 'uint8 TCP_FLAGS_REV',
       'int8* PPI_PKT_DIRECTIONS', 'uint8* PPI_PKT_FLAGS', 'string TLS_ALPN',
       'bytes TLS_JA3', 'string TLS_SNI', 'uint16* PPI_PKT_LENGTHS',
       'uint16* TLS_EXT_LEN', 'uint16* TLS_EXT_TYPE', 'time* PPI_PKT_TIMES'],
      dtype='object')

## Choose the columns we need       
**Which is *TLS_SNI*, which contains our domain (service) and will be used for annotattion, *PPI_PKT_DIECTIONS*, which contains 1 or -1 for each packet in the flow depending on the direction of the packet, and *PPI_PKT_LENGTHS*, which contains the lengths of first 30 packets**           
**We will also rename the columns so the work with them will be easier**

In [46]:
df = df[['string TLS_SNI', 'int8* PPI_PKT_DIRECTIONS', 'uint16* PPI_PKT_LENGTHS']]
df = df.rename(columns={'string TLS_SNI': 'TLS_SNI', 'int8* PPI_PKT_DIRECTIONS': "PKT_DIRECTIONS", "uint16* PPI_PKT_LENGTHS": "PKT_LENGTHS"})
df

,TLS_SNI,PKT_DIRECTIONS,PKT_LENGTHS
0,NaN,[],[]
2,NaN,[],[]
3,NaN,[1|-1],[43|40]
4,NaN,[],[]
5,NaN,[],[]
...,...,...,...
78141,ops.gx.nvidia.com,[1|-1|-1|-1|-1|1|-1|1|-1|-1|1|1],[184|1460|1460|599|1176|126|258|716|1069|31|31...
78143,ops.gx.nvidia.com,[1|-1|-1|-1|-1|1|-1|1|-1|-1|1],[184|1460|1460|1176|599|126|258|723|1101|31|31]
78145,NaN,[1|1|1|1|-1|1|-1|1|-1|-1|1|-1|1|-1|-1|1|-1|-1|...,[1250|75|1250|616|1200|90|53|43|24|24|43|49|47...
78147,NaN,[1|1|1|1|-1|-1|-1|-1|1|1|-1|-1|-1],[1|120|39|277|39|453|49|31|35|69|567|44|31]
78148,NaN,[1|-1|-1],[1|39|24]

## Split packet directions into 30 independent columns, each containing either None (No packet there) or 1 or -1

In [47]:
df = df.join(df['PKT_DIRECTIONS'].str.replace("[", "").str.replace("]", "").str.split("|", expand=True)).drop('PKT_DIRECTIONS', axis=1)
df

,TLS_SNI,PKT_LENGTHS,0,1,2,3,4,5,6,7,...,20,21,22,23,24,25,26,27,28,29
0,NaN,[],,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,NaN,[],,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,NaN,[43|40],1,-1,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,NaN,[],,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,NaN,[],,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78141,ops.gx.nvidia.com,[184|1460|1460|599|1176|126|258|716|1069|31|31...,1,-1,-1,-1,-1,1,-1,1,...,None,None,None,None,None,None,None,None,None,None
78143,ops.gx.nvidia.com,[184|1460|1460|1176|599|126|258|723|1101|31|31],1,-1,-1,-1,-1,1,-1,1,...,None,None,None,None,None,None,None,None,None,None
78145,NaN,[1250|75|1250|616|1200|90|53|43|24|24|43|49|47...,1,1,1,1,-1,1,-1,1,...,1,-1,1,1,1,-1,-1,1,1,-1
78147,NaN,[1|120|39|277|39|453|49|31|35|69|567|44|31],1,1,1,1,-1,-1,-1,-1,...,None,None,None,None,None,None,None,None,None,None
78148,NaN,[1|39|24],1,-1,-1,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

## We now need to drop the packets, which have an empty string in the first packet direction, because that means, that there is no packet in the flow

In [48]:
df = df.drop(df[0][df[0] == ''].index)
df

,TLS_SNI,PKT_LENGTHS,0,1,2,3,4,5,6,7,...,20,21,22,23,24,25,26,27,28,29
3,NaN,[43|40],1,-1,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,NaN,[32|28],1,-1,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,NaN,[264|39|303|303|303|303|39|71|47|39|39|39|35|157],1,1,1,1,1,1,-1,-1,...,None,None,None,None,None,None,None,None,None,None
16,NaN,[1230|1230|40|1230|1230|167|1226|1067|504|121|...,1,1,-1,-1,-1,1,1,1,...,None,None,None,None,None,None,None,None,None,None
17,NaN,[387|634|1400|64],1,-1,-1,-1,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78141,ops.gx.nvidia.com,[184|1460|1460|599|1176|126|258|716|1069|31|31...,1,-1,-1,-1,-1,1,-1,1,...,None,None,None,None,None,None,None,None,None,None
78143,ops.gx.nvidia.com,[184|1460|1460|1176|599|126|258|723|1101|31|31],1,-1,-1,-1,-1,1,-1,1,...,None,None,None,None,None,None,None,None,None,None
78145,NaN,[1250|75|1250|616|1200|90|53|43|24|24|43|49|47...,1,1,1,1,-1,1,-1,1,...,1,-1,1,1,1,-1,-1,1,1,-1
78147,NaN,[1|120|39|277|39|453|49|31|35|69|567|44|31],1,1,1,1,-1,-1,-1,-1,...,None,None,None,None,None,None,None,None,None,None
78148,NaN,[1|39|24],1,-1,-1,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

## Then we will create a separate dataframe containing the length of the first 30 packets

In [49]:
pkt_lengths = df['PKT_LENGTHS'].str.replace("[", "").str.replace("]", "").str.split("|", expand=True).replace(to_replace=[None], value=0).astype(int)
pkt_lengths

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
3,43,40,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,32,28,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,264,39,303,303,303,303,39,71,47,39,...,0,0,0,0,0,0,0,0,0,0
16,1230,1230,40,1230,1230,167,1226,1067,504,121,...,0,0,0,0,0,0,0,0,0,0
17,387,634,1400,64,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78141,184,1460,1460,599,1176,126,258,716,1069,31,...,0,0,0,0,0,0,0,0,0,0
78143,184,1460,1460,1176,599,126,258,723,1101,31,...,0,0,0,0,0,0,0,0,0,0
78145,1250,75,1250,616,1200,90,53,43,24,24,...,45,1200,43,1250,621,25,24,1250,602,23
78147,1,120,39,277,39,453,49,31,35,69,...,0,0,0,0,0,0,0,0,0,0
78148,1,39,24,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Now we will replace the None values in our packet directions with zeros and multiply the with our packet lengths, thus finally getting a dataframe with 30 packet lengths and directions in one.

In [50]:
df = df[['TLS_SNI']].join(df.iloc[:, 2:].replace(to_replace=[None], value=0).astype(int)*pkt_lengths)
df

,TLS_SNI,0,1,2,3,4,5,6,7,8,...,20,21,22,23,24,25,26,27,28,29
3,NaN,43,-40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,NaN,32,-28,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,NaN,264,39,303,303,303,303,-39,-71,-47,...,0,0,0,0,0,0,0,0,0,0
16,NaN,1230,1230,-40,-1230,-1230,167,1226,1067,-504,...,0,0,0,0,0,0,0,0,0,0
17,NaN,387,-634,-1400,-64,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78141,ops.gx.nvidia.com,184,-1460,-1460,-599,-1176,126,-258,716,-1069,...,0,0,0,0,0,0,0,0,0,0
78143,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,723,-1101,...,0,0,0,0,0,0,0,0,0,0
78145,NaN,1250,75,1250,616,-1200,90,-53,43,-24,...,45,-1200,43,1250,621,-25,-24,1250,602,-23
78147,NaN,1,120,39,277,-39,-453,-49,-31,35,...,0,0,0,0,0,0,0,0,0,0
78148,NaN,1,-39,-24,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Now we want to drop the packets, which have NaN value in the TLS_SNI field, because they were probably not flow to outside world and we could not properly annonate them

In [51]:
df = df.drop(df[df['TLS_SNI'].isna()].index)
df

,TLS_SNI,0,1,2,3,4,5,6,7,8,...,20,21,22,23,24,25,26,27,28,29
203,ocsp2.apple.com,517,-1208,-1208,-1208,-451,64,304,-493,31,...,0,0,0,0,0,0,0,0,0,0
263,api.jetbrains.ai,650,-1408,6,-1408,-1408,-1331,74,164,-179,...,0,0,0,0,0,0,0,0,0,0
264,www.jetbrains.com,651,-225,6,74,192,-179,-1024,0,0,...,0,0,0,0,0,0,0,0,0,0
280,download-cdn.jetbrains.com,451,-1408,-1408,-1408,-654,6,370,-179,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408
281,download-cdn.jetbrains.com,451,-1408,-1408,-1408,-654,6,370,-179,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78122,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,643,-1106,...,0,0,0,0,0,0,0,0,0,0
78128,events.gfe.nvidia.com,206,-1400,-1364,-901,126,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78140,prod.otel.kaizen.nvidia.com,212,-1460,-1460,-1330,93,-204,-69,87,127,...,0,0,0,0,0,0,0,0,0,0
78141,ops.gx.nvidia.com,184,-1460,-1460,-599,-1176,126,-258,716,-1069,...,0,0,0,0,0,0,0,0,0,0
78143,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,723,-1101,...,0,0,0,0,0,0,0,0,0,0

## We will create a new column called 'class' and assign a default value of 'other' to every row            
**This 'class' column will contain our annotations**

In [52]:
df['class'] = 'other'
df

,TLS_SNI,0,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,29,class
203,ocsp2.apple.com,517,-1208,-1208,-1208,-451,64,304,-493,31,...,0,0,0,0,0,0,0,0,0,other
263,api.jetbrains.ai,650,-1408,6,-1408,-1408,-1331,74,164,-179,...,0,0,0,0,0,0,0,0,0,other
264,www.jetbrains.com,651,-225,6,74,192,-179,-1024,0,0,...,0,0,0,0,0,0,0,0,0,other
280,download-cdn.jetbrains.com,451,-1408,-1408,-1408,-654,6,370,-179,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,other
281,download-cdn.jetbrains.com,451,-1408,-1408,-1408,-654,6,370,-179,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78122,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,643,-1106,...,0,0,0,0,0,0,0,0,0,other
78128,events.gfe.nvidia.com,206,-1400,-1364,-901,126,0,0,0,0,...,0,0,0,0,0,0,0,0,0,other
78140,prod.otel.kaizen.nvidia.com,212,-1460,-1460,-1330,93,-204,-69,87,127,...,0,0,0,0,0,0,0,0,0,other
78141,ops.gx.nvidia.com,184,-1460,-1460,-599,-1176,126,-258,716,-1069,...,0,0,0,0,0,0,0,0,0,other
78143,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,723,-1101,...,0,0,0,0,0,0,0,0,0,other

## We can now export our TLS_SNI to csv, so we can see, which domains are present and wheter we would like to annotate them

In [32]:
df['TLS_SNI'].to_csv('domains.csv')

## We will now define the services we want to classify inside a python dictionary and classify them based on the presence of the dict key inside a TLS_SNI field

**Load our classes**

In [53]:
import json

classes = {}
with open('classes.json') as file:
    classes = json.load(file)

classes

{'github': 'github',
 'facebook': 'facebook',
 'seznam': 'seznam',
 'spotify': 'spotify',
 'fb.com': 'facebook',
 'edu.cz': 'edu.cz',
 'outlook': 'outlook',
 'mail.google': 'gmail'}

**Assign classes to flows we can**

In [54]:
for k, v in classes.items():
    df.loc[df['TLS_SNI'].str.contains(k), 'class'] = v

df

,TLS_SNI,0,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,29,class
203,ocsp2.apple.com,517,-1208,-1208,-1208,-451,64,304,-493,31,...,0,0,0,0,0,0,0,0,0,other
263,api.jetbrains.ai,650,-1408,6,-1408,-1408,-1331,74,164,-179,...,0,0,0,0,0,0,0,0,0,other
264,www.jetbrains.com,651,-225,6,74,192,-179,-1024,0,0,...,0,0,0,0,0,0,0,0,0,other
280,download-cdn.jetbrains.com,451,-1408,-1408,-1408,-654,6,370,-179,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,other
281,download-cdn.jetbrains.com,451,-1408,-1408,-1408,-654,6,370,-179,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78122,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,643,-1106,...,0,0,0,0,0,0,0,0,0,other
78128,events.gfe.nvidia.com,206,-1400,-1364,-901,126,0,0,0,0,...,0,0,0,0,0,0,0,0,0,other
78140,prod.otel.kaizen.nvidia.com,212,-1460,-1460,-1330,93,-204,-69,87,127,...,0,0,0,0,0,0,0,0,0,other
78141,ops.gx.nvidia.com,184,-1460,-1460,-599,-1176,126,-258,716,-1069,...,0,0,0,0,0,0,0,0,0,other
78143,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,723,-1101,...,0,0,0,0,0,0,0,0,0,other

## We will now load our json for mappping numerical value to each service

In [55]:
classes_mapping = {}
with open('classes_mapping.json') as file:
    classes_mapping = json.load(file)

classes_mapping

{'1': 'other',
 '2': 'spotify',
 '3': 'facebook',
 '4': 'edu.cz',
 '5': 'outlook',
 '6': 'seznam',
 '7': 'gmail',
 '8': 'github'}

## Finally we can replace the classnames in our 'class' column with the numerical values

In [56]:
for k, v in classes_mapping.items():
  df.loc[df['class'] == v, 'class'] = k

df

,TLS_SNI,0,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,29,class
203,ocsp2.apple.com,517,-1208,-1208,-1208,-451,64,304,-493,31,...,0,0,0,0,0,0,0,0,0,1
263,api.jetbrains.ai,650,-1408,6,-1408,-1408,-1331,74,164,-179,...,0,0,0,0,0,0,0,0,0,1
264,www.jetbrains.com,651,-225,6,74,192,-179,-1024,0,0,...,0,0,0,0,0,0,0,0,0,1
280,download-cdn.jetbrains.com,451,-1408,-1408,-1408,-654,6,370,-179,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,1
281,download-cdn.jetbrains.com,451,-1408,-1408,-1408,-654,6,370,-179,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78122,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,643,-1106,...,0,0,0,0,0,0,0,0,0,1
78128,events.gfe.nvidia.com,206,-1400,-1364,-901,126,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
78140,prod.otel.kaizen.nvidia.com,212,-1460,-1460,-1330,93,-204,-69,87,127,...,0,0,0,0,0,0,0,0,0,1
78141,ops.gx.nvidia.com,184,-1460,-1460,-599,-1176,126,-258,716,-1069,...,0,0,0,0,0,0,0,0,0,1
78143,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,723,-1101,...,0,0,0,0,0,0,0,0,0,1

## Now we can drop the TLS_SNI column

In [51]:
df.drop(columns=['TLS_SNI'], inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,class
0,517,-1240,-1240,-1231,80,-287,-287,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,517,-1368,-1368,-457,-457,64,-614,272,-31,1234,...,0,0,0,0,0,0,0,0,0,1
2,517,-156,51,-69,68,-38,733,1024,1024,1024,...,0,0,0,0,0,0,0,0,0,1
3,463,-1412,-1412,-1412,-305,80,485,-618,-31,31,...,0,0,0,0,0,0,0,0,0,1
4,561,-212,64,-586,46,37,-31,35,871,-192,...,-539,-68,-230,215,-76,39,89,-83,39,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031090,517,-1238,-1238,-822,64,1238,442,-179,-62,-31,...,0,0,0,0,0,0,0,0,0,1
1031091,212,-1330,-1330,-1330,-106,-1330,-589,93,-51,1380,...,0,0,0,0,0,0,0,0,0,1
1031092,461,-1448,-1448,-621,80,345,-287,-287,-1448,-1448,...,-1448,-1448,-1448,-1448,-1448,-1448,-1448,-1448,-517,1
1031093,552,-133,-41,-1400,-1364,-246,-286,-74,80,-303,...,72,72,76,76,72,72,1460,1309,1460,1
1031094,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Export our final dataset

In [52]:
df.to_csv('final_dataset.csv')